{% extends "blog/base.html" %}

{% block header %}
<section class="s-pageheader s-pageheader--home">
    {% include "header.html" %}
</section>
{% endblock header %}

{% block content %}
  
<section class="s-content s-content--narrow s-content--no-padding-bottom">

    <article class="row format-standard">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                {{ post.title }}
            </h1>
            <ul class="s-content__header-meta">
                <li class="date">{{ post.publish }}</li>
                <li class="cat">
                    In
                    {% for tag in post.tags.all  %}
                        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                    
                    {% endfor %}
                </li>
            </ul>
        </div> <!-- end s-content__header -->

        <div class="s-content__media col-full">
            <div class="s-content__post-thumb">
                <img src="images/thumbs/single/standard/standard-1000.jpg" 
                     srcset="images/thumbs/single/standard/standard-2000.jpg 2000w, 
                             images/thumbs/single/standard/standard-1000.jpg 1000w, 
                             images/thumbs/single/standard/standard-500.jpg 500w" 
                     sizes="(max-width: 2000px) 100vw, 2000px" alt="" >
            </div>
        </div> <!-- end s-content__media -->

        <div class="col-full s-content__main"></div>

            <p>
                {{ post.body }}
            </p>
            
            <p class="s-content__tags">
                <span>Post Tags</span>
                  
                <span class="s-content__tag-list">
                    {% for tag in post.tags.all  %}
                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                    
                    {% endfor %}
                </span>

            </p> <!-- end s-content__tags -->

            <!-- Author section  -->
            <div class="s-content__author">
                <img src="images/avatars/user-03.jpg" alt="">

                <div class="s-content__author-about">
                    <h4 class="s-content__author-name">
                        <a href="#0">{{ post.author }}</a>
                    </h4>
                
                    <p>Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium magni maxime nihil nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>

                    <ul class="s-content__author-social">
                    <li><a href="#0">Facebook</a></li>
                    <li><a href="#0">Twitter</a></li>
                    <li><a href="#0">GooglePlus</a></li>
                    <li><a href="#0">Instagram</a></li>
                    </ul>
                </div>
            </div>


            <!-- Navigation section -->
             
                <div class="s-content__pagenav">
                    <div class="s-content__nav">
                        <div class="s-content__prev">
                            <a href="#0" rel="prev">
                                <span>Previous Post</span>
                                Tips on Minimalist Design 
                            </a>
                        </div>
                        <div class="s-content__next">
                            <a href="#0" rel="next">
                                <span>Next Post</span>
                                Less Is More 
                            </a>
                        </div>
                    </div>
                </div> <!-- end s-content__pagenav -->
        </div> <!-- end s-content__main -->
        
    </article>

    <!-- comments -->

    <div class="comments-wrap">

        <div id="comments" class="row">
            <div class="col-full">
                {% with comments.count as total_comments %}
                  
                <h3 class="h2">{{ total_comments}} comment{{ total_comments|pluralize }}</h3>

                {% endwith %}


                <!-- commentlist -->
                <ol class="commentlist">
                    {% for comment in comments  %}
                    
                        <li class="depth-1 comment">

                            <div class="comment__avatar">
                                <img width="50" height="50" class="avatar" src="images/avatars/user-01.jpg" alt="">
                            </div>

                            <div class="comment__content">

                                <div class="comment__info">
                                    <cite>{{ comment.name }} </cite>

                                    <div class="comment__meta">
                                        <time class="comment__time">{{ comment.created }}</time>
                                        <a class="reply" href="#0">Reply</a>
                                    </div>
                                </div>

                                <div class="comment__text">
                                <p>{{ comment.body|linebreaks }}</p>
                                </div>
                            </div>
                        </li> <!-- end comment level 1 -->
                    {% empty %}
                    <p>No comments yet.</p>
                    {% endfor %}
                    {% if new_comment %}
                        <h2>Your comment has been added.</h2>
                        <br>
                        <br>
                        
                    {% else %}

                        <h2>New comment</h2>
                        
                        <form action="." method="POST">
                            {{ comment_form.as_p }}
                            {% csrf_token %}
                            <p><input type="submit" value="Add comment"></p>
                        </form>
                    {% endif %}

                </ol>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block section %}
<h3>Similar Posts</h3>
<div class="block-1-2 block-m-full popular__posts">
    {% for post in similar_posts %}
        <article class="col-block popular__post">
            <a href="#0" class="popular__thumb">
                <img src="images/thumbs/small/wheel-150.jpg" alt="">
            </a>
            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
            <section class="popular__meta">
                    <span class="popular__author"><span>By</span> <a href="#0">{{ post.author }}</a></span>
                <span class="popular__date"><span>on</span> <time datetime="2017-12-19">{{ post.publish }}</time></span>
            </section>
        </article>
    {% empty %}
        <p>There are no similar posts yet.</p>
    {% endfor %}
</div>
{% endblock section %}