{% extends "blog/base.html" %}
{% load static %}



<title> {% block title %}
  {{ post.title}}
{% endblock title %}</title>

{% block content %}
<section class="s-content">
        
    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="grid-sizer"></div>
    
                {% for post in posts %}
                
                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="{{ post.get_absolute_url }}" class="entry__thumb-link">
                            <img src="{% static 'images/thumbs/masonry/cookies-400.jpg' %}" 
                                    alt=""> <!-- srcset="images/thumbs/masonry/cookies-400.jpg 1x images/thumbs/masonry/cookies-800.jpg 2x" -->
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{{ post.get_absolute_url }}">{{ post.publish }}</a>
                            </div>
                            <h1 class="entry__title"><a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{ post.body|truncatewords_html:10 }}
                            </p>
                        </div>
                        
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                {% for tag in post.tags.all  %}
                                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                    {{ tag.name }}
                                    </a>
                                {% endfor %}
                            </span>
                        </div>   
                    </div>
                    

                </article> <!-- end article -->

            {% endfor %}
        </div>
    </div>

    {% include "pagination.html" with page=posts %}
</section> <!-- s-content -->
{% endblock content %}