@import url("https://fonts.googleapis.com/css?family=Tangerine");
@font-face{
    font-family: 'Pacifico';
    src: local(Pacifico), url('../fonts/Pacifico.ttf') format("truetype");

}
@font-face{
    font-family: 'NewRocker';
    src: local(NewRocker), url('../fonts/NewRocker.ttf') format("truetype");
}
@font-face{
    font-family: 'Satisfy';
    src: local(Satisfy), url('../fonts/Satisfy.ttf') format("truetype");
}
body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-family: Pacifico;
    font-weight:normal;
    
    padding:0 0 10px 0;
    font-size: 40px;
}

h2 {
    font-family: NewRocker;
    font-weight:normal;
    font-size: 30px;
    margin:30px 0 0;
}

#content { 
    float:right;
    width:80%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:20%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

p {
    font-family: Satisfy;
    font-size: 25px;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12.5px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
    font-family: NewRocker;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}